<template>
    <div class="favorite">
        <h2>Mes favoris</h2>

        <section class="bodyFavoris">
            <div v-if="this.favoris.length === 0">
                <p>Il n'y a aucun favoris d'enregistrer !</p>
                <p>Retournez sur la page d'acceuil pour pouvoir sélectionner vos magasins favoris sur la carte</p>
            </div>

            <div id="results" v-else v-for="(favori, index) in favoris" v-bind:value="favori.value" :key="index">
                <div class="shop">
                    <p>{{ favori.label }}</p>
                    <p>{{ favori.address }}</p>
                </div>

                <a href="#" v-on:click="deleteToLocalStorage(index)"><font-awesome-icon class="delete" :icon="['fas', 'trash-alt']"/></a>
            </div>
        </section>

        <div class="menu">
            <h3>Retour a l'acceuil</h3>
            <a href="#"><router-link :to="`/`"><font-awesome-icon :icon="['fas', 'home']"/></router-link></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Favorite',
        data() {
            return {
                //Tableau contenant la liste des favoris
                favoris: []
            }
        },
        mounted() {
            //Appel de la fonction permettant de recupérer le contenu du localStorage
            this.getToLocalStorage();
        },
        methods: {
            //Fonction permettant de récupérer les informations contenues dans le localStorage
            getToLocalStorage() {
                //Si le localStorage contient bien des favoris
                if(localStorage.getItem("favoris_vgsearch") !== null) {
                    //On récupere ces favoris
                    let json_storage = localStorage.getItem("favoris_vgsearch");

                    //On transforme le contenu du localStorage en objet
                    let object_favoris = JSON.parse(json_storage);

                    //On attribut un tableau vide à la variable favoris
                    this.favoris = [];

                    //On utilise une boucle pour parcourir le contenu de la variable object_favoris pour pouvoir les enregistrer dans le tableau favoris
                    for(let i = 0; i < object_favoris.length; i++) {
                        //Mise à jour du contenu du tableau favoris
                        this.favoris.push({
                            label: object_favoris[i].name,
                            address: object_favoris[i].vicinity
                        });
                    }
                }
                //Si le localStorage ne contient aucun favoris
                else {
                    //On attribut un tableau vide à favoris
                    this.favoris = [];
                }
            },

            //Fonction permettant de supprimer un favori du localStorage à partir de son index
            deleteToLocalStorage(index) {
                //Récupération des informations contenus dans le localStorage
                let recupStorage = localStorage.getItem("favoris_vgsearch");

                //Transformation de la variable en objet
                recupStorage = JSON.parse(recupStorage);

                //Suppression de l'index du favoris sélectionné dans le localStorage
                recupStorage.slice(index, 1);

                //On retransforme le contenu du localStorage en format JSON que l'on enregistre dans une nouvelle variable
                let recupStorage2 = JSON.stringify(recupStorage);

                //On enregistre cette nouvelle variable dans le localStorage
                window.localStorage.setItem("favoris_vgsearch", recupStorage2);

                //On met à jour la liste des favoris en faisant appel à la fonction précedente
                this.getToLocalStorage();
            }
        }
    }
</script>

<style>
/* Style Généraux et pour le Téléphone */
.favorite h2 {
    font-family: 'Games';
    color: rgb(21, 21, 185);
    font-size: 2em;
}
.favorite #results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    border-bottom: 2px dotted rgb(21, 21, 185);
    padding: 0 15px;
    margin: 15px 0;
}
.favorite #results .shop {
    width: 90%;
}
.favorite #results .fa-trash-alt {
    font-size: 0.9em;
}
.favorite .menu h3 {
    font-family: 'Games';
    color: rgb(21, 21, 185);
    font-size: 1.3em;
}
.favorite .menu a {
    font-size: 1.3em;
}

/* Style pour la Tablette */
@media screen and (min-width: 767px) {
    .favorite #results {
        width: 80%;
        margin: 15px auto;
    }
}

/* Style pour le Desktop */
@media screen and (min-width: 1024px) {
    .favorite #results {
        width: 40%;
    }
}
</style>