<template>
  <div class="home">
      <section class="search-box">
        <div>
          <input 
            type="text"
            class="search-bar"
            placeholder="Rechercher un magasin ..."
            :value="query"
            @input="evt=>query=evt.target.value"
            @keyup="showAutoComplete()"
            v-on:click="query=''"
          >
        </div>
        <div class="search-bar-autocomplete">
          <a v-for="(choices, i) in autoComplete" v-bind:key="i" v-on:click="getChoices(choices)" v-show="toggle">{{ choices }}</a>
        </div>
      </section>

      <!--L'option disabledDefaultUi permet de désactiver l'interface utilisateur et l'option gestureHandling permet de faire défiler la carte lorsqu'on utilise son doigt sur un écran tactile -->
      <GmapMap
        id="gmap"
        ref="map"
        :center="center"
        :zoom="zoom"
        map-type-id="terrain"
        :options="{
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: true,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
          disabledDefaultUi: true,
          gestureHandling: 'greedy'
        }"
      >
        <GmapMarker
          v-for="(m, index) in myPosition"
          :key="index"
          :position="m.position"
          :clickable="true"
          :draggable="true"
          :icon="m.icon"
        />

        <GmapMarker
          v-for="(m, index) in markers"
          :key="`markers${index}`"
          :ref="`markers${index}`"
          :position="m.position"
          :icon="m.icon"
          :clickable="true"
          :draggable="true"
          @click="openWindowInformation(index, m.id)"
        />

        <gmap-info-window
          @closeclick="closeWindow()"
          :opened="window_open"
          :position="infoWindow.position"
        >
          <div class="info-window">
            <h2>{{ query }}</h2>
            <h3>{{ infoWindow.vicinity }}</h3>
            <p v-if="isOpen" class="green">Ouvert</p>
            <p v-else-if="isOpen=false" class="red">Fermé</p>
            <p v-else>Horaires non indiqués</p>
            <div class="itineraire">
              <p>Itinéraire :</p>
              <div class="selection">
                <select name="travelMode" id="travelMode">
                  <option value="WALKING" selected>A pied</option>
                  <option value="DRIVING">En voiture</option>
                  <option value="TRANSIT">En transport</option>
                  <option value="BICYCLING">En vélo</option>
                </select>
                <button v-on:click="calcRoute(infoWindow.position)">Y aller</button>
              </div>
              <a href="#" v-on:click="goToLocalStorage"><img :src="myIcon.icon"></a>
            </div>
          </div>
        </gmap-info-window>
      </GmapMap>

      <div class="informations-route" v-show="isDrawing">
        <h4>Informations concernant l'itinéraire :</h4>
        <p><font-awesome-icon :icon="['fas', 'route']"/> Distance: {{ distance }}</p>
        <p><font-awesome-icon :icon="['fas', 'clock']"/> Temps: {{ time }}</p>
      </div>

      <div id="rangebar">
        <input type="range" v-model="radius" class="range" v-on:input="changeZoom()">

        <button v-on:click="clearAll()" id="clean"></button>

        <button v-on:click="backToCenter()" id="center"></button>

        <button v-show="isDrawing" v-on:click="back()" id="back"></button>
      </div>

      <div class="menu">
        <h3>Acces a la liste de favoris</h3>
        <a href="#"><router-link :to="`/favorite`"><font-awesome-icon :icon="['fas', 'heart']"/></router-link></a>
      </div>
  </div>
</template>

<script>
  import { choices } from './shop'
  import { gmapApi } from 'vue2-google-maps'
  import BlueCircle from '../assets/bluecircle.png'
  import Manette from '../assets/manette.png'
  import Favoris2 from '../assets/favoris 2.png'
  import Favoris1 from '../assets/favoris 1.png'

  export default {
    name: 'Home',
    computed: {
      google: gmapApi,
      mapZoom: function() {
        return parseInt(this.zoom)
      }
    },
    data() {
      return {
        //Données permettant de gérer les paramètres de la carte (le centre, le zoom et le rayon)
        center: { lat: 48.8534, lng: 2.3488 }, //Coordonnées GPS de la Paris
        zoom: 12,
        radius: 100, //Correspond  un rayon de 10km autour de la position de l'utilisateur
        //Donnée permettant d'executer la recherche
        query: '',
        //Tableau contenant toutes les autosuggestions proposés
        autoComplete: [],
        //Donnée permettant de gérer l'affichage ou non de l'autosuggestion
        toggle: false,
        //Donnée permettant d'avoir accès au contenu du ficher shop
        choices: choices,
        //Tableau contenent la position de l'utilisateur
        myPosition: [],
        //Tableau contenant la liste des commerces que l'on cherche
        markers: [],
        //Objet contenant toutes les informations du marqueur sélectionné
        infoWindow: {
          name: "",
          vicinity: "",
          position: { lat: 48.8534, lng: 2.3488 }
        },
        //Donnée permettant de savoir si la fenêtre d'information est ouverte ou non
        window_open: false,
        //Donnée permettant de définir l'icône de favori dans les fenêtres d'informations
        myIcon: {icon: Favoris2},
        //Donnée permettant de vérifié que le magasin est ouvert
        isOpen: null,
        //Donnée permettant d'afficher l'itinéraire sur la carte
        directionsRenderer: null,
        //Donnée permettant de dessiner sur la carte
        isDrawing: false,
        //Donnée permettant d'afficher la distance total lors du calcul de l'itinéraire
        distance: 0,
        //Donnée permettant d'afficher le temps total pour atteindre la destination
        time: 0
      }
    },
    mounted() {
      //Appel de la fonction geolocalisation lors de la création de la page
      this.geolocation();
    },
    methods: {
      //Fonction permettant de géolocaliser l'utilisateur de l'application
      geolocation() {
        //Récupération de la position de l'utilisateur à partir de la position de son navigateur
        navigator.geolocation.getCurrentPosition(position => {
          //On centre la carte sur la nouvelle position de l'utilisateur
          this.center = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          //On enregistre la nouvelle position dans le tableau contenant celle de l'utilisateur et on lui assigne un marqueur circulaire bleu
          this.myPosition = [{
            position: {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            },
            icon: BlueCircle
          }];

          //Appel de la fonction updatePosition pour mettre à jour la position de l'utilisateur toutes les 3 secondes
          setInterval(() => {
            this.updatePosition();
          }, 3000);
        })
      },

      //Fonction permettant de récupérer la position actuelle en cas de déplacement de l'utilisateur
      updatePosition() {
        //Récupération de la position de l'utilisateur à partir de la position du navigateur
        navigator.geolocation.getCurrentPosition(position => {
          //On enregistre les modifications de la position dans le tableau myPosition
          this.myPosition = [{
            position: {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            },
            icon: BlueCircle
          }];
        })
      },

      //Fonction permettant d'afficher les autosuggestions basées sur le fichier shop
      showAutoComplete() {
        //Création de la variable query qui correspond à la valeur de l'input de recherche
        let query = this.query;

        //Remplacement des caractères spéciaux dans la barre de recherche par des caractères normaux
        query = this.query.replace('é', 'e').replace('è', 'e').replace('ç', 'c').replace('à', 'a');

        //On remplace le contenu de la variable autoComplete par un tableau vide (au cas où il y aurait toujours des données)
        this.autoComplete = [];

        //Mise en place d'une condition qui vérifie que le contenu de la variable query est supérieur à 2 caractères pour pouvoir afficher la liste des autosuggestions
        if(this.query.length >= 2) {
          //On fait passer la valeur de la variable toggle à true pour pouvoir afficher la liste des choix
          this.toggle = true;

          //Mise en place d'une boucle for permettant de parcourir le tableau contenu dans la data choices (qui contient la liste des magasins dans le fichier shop.js)
          for(let i = 0; i < this.choices.length; i++) {
            //On vérifie si la valeur de la chaine de caractère entrée existe dans le tableau contenant la liste des magasins
            if(this.choices[i].val.indexOf(query.toLowerCase()) != -1) {
              //On ajoute ces choix possible au tableau autoComplete
              this.autoComplete.push(this.choices[i].name);
            }
          }
        }
      },

      //Fonction permettant de récupérer le texte en fonction de la recherche effectuée
      getChoices(choices) {
        //On supprime l'itinéraire de la carte
        this.clearDirections();

        //On ferme les fenêtres d'informations
        this.closeWindow();

        //Utilisation d'un setTimeOut de fermer les choix proposés par l'autocomplétion après une durée de 4 secondes
        setTimeout(() => {
          this.toggle = !this.toggle;
        }, 400);

        //Attribution de la valeur du choix à query
        this.query = choices;

        //Appel de la fonction getShop pour afficher la liste des commerces à proximité en fonction de la recherche et du rayon spécifié dans les data
        this.getShop(this.query, this.radius);
      },

      //Fonction permettant de récupérer les boutiques correspondantes à la recherche grâce à la librairie Places de Google Maps
      getShop(shop, radius) {
        //Création de la requète de recherche dans la libraire de Google Maps
        this.$refs.map.$mapPromise.then((map) => {
          //Création d'une variable request qui va permettre de stocker la localisation, la clé et le rayon de la recherche dans un objet
          let request = {
            location: this.center,
            keyword: shop,
            radius: radius * 100
          };

          //Requète auprès de l'API de Google Maps
          let service = new google.maps.places.PlacesService(map);

          //Récupération des commerces autour de notre position
          service.nearbySearch(request, (results) => {
            //On vide la variable markers en lui attribuant un tableau vide
            this.markers = [];
            //Création d'une boucle pour parcourir le tableau contenant les résultats de la requète
            for(let i = 0; i < results.length; i++) {
              //Mise à jour du tableau contenant la liste des commerces en indiquant leur position, leur nom, leur id et l'icône
              this.markers.push({
                position: {
                  lat: results[i].geometry.location.lat(),
                  lng: results[i].geometry.location.lng()
                },
                name: results[i].name,
                id: results[i].place_id,
                icon: Manette
              });
            }
          });
        })
      },

      //Fonction permettant d'ouvrir les fenêtres d'informations lors de la sélection d'un marqueur
      openWindowInformation(index, id) {
        //Création de la requète de recherche dans la libraire de Google Maps
        this.$refs.map.$mapPromise.then((map) => {
          //Création d'une variable request qui contiendra l'id du magasin sélectionné
          let request = {
            placeId: id
          };

          //Requète auprès de l'API de Google Maps
          let service = new google.maps.places.PlacesService(map);

          //Appel de la méthode getDetails de la librairie Places de GoogleMaps
          service.getDetails(request, (place) => {
            //Stockage du magasin sélectionné dans la variable infoWindow
            this.infoWindow = place;

            //Enregistrement de la position de celui-ci dans la donnée position de infoWindow
            this.infoWindow.position = this.markers[index].position;

            //On regarde si le magasin est ouvert
            if(place.opening_hours) {
              //On attribut à la donnée isOpen le isOpen() de la librairie Place de GoogleMaps
              this.isOpen = place.opening_hours.isOpen();
            }

            //On récupére dans les favoris du localStorage
            let storage = window.localStorage.getItem('favoris_vgsearch');

            //On transforme la varaible storage en objet
            storage = JSON.parse(storage);

            //Définition d'une variable permettant de définit si le favori est sélectionné
            let isFavo = false;

            //Si le localStorage est vide
            if(storage === null) {
              //On attribut l'icône Favoris2 à la donnée myIcon
              this.myIcon.icon = Favoris2;
            }
            //Si ce n'est pas le cas
            else {
              //On fait une boucle sur le localStorage pour parcourir ses élements
              for(let i =0; i < storage.length; i++) {
                //Si dans les favoris, il y a un id qui est commun au localStorage et à l'infoWindow, on passe la variable isFavo à true
                if(storage[i].place_id === this.infoWindow.place_id) {
                  isFavo = true;
                }
              }
            }

            //S'il y a des favoris
            if(isFavo === true) {
              //On attribut l'icône Favoris1 à myIcon
              this.myIcon.icon = Favoris1;
            }
            else {
              //On attribut l'icône Favoris2 à myIcon
              this.myIcon.icon = Favoris2;
            }

            //On attribut la valeur true à window_open pour permettre l'affichage de la fenêtre d'information
            this.window_open = true;
          })
        })
      },

      //Fonction permettant de fermer la fenêtre d'information
      closeWindow() {
        this.window_open = false;
      },

      //Fonction permettant de supprimer toutes les informations présentes sur la carte
      clearAll() {
        //On vide le tableau contenant les différents marqueurs avec les positions des magasins recherchés
        this.markers = [];

        //On supprime l'itinéraire de la carte
        this.clearDirections();

        //On ferme les fenêtres d'informations
        this.closeWindow();

        //On appel la fonction backToCenter pour recentrer la carte sur notre position
        this.backToCenter();

        //On supprime les informations contenues dans la variable de recherche query
        this.query = "";
      },

      //Fonction permettant de recentrer la carte
      backToCenter() {
        //Appel de la méthode PanTo de la librairie GoogleMaps qui permet de recentrer la carte sur la position que l'on a indique
        this.$refs.map.$mapPromise.then((map) => {
          map.panTo(this.myPosition[0].position);
        })
      },

      //Fonction permettant de retrourner en arrière
      back() {
        //Suppression de l'itinéraire
        this.clearDirections();

        //Fermeture des fenêtres d'informations
        this.closeWindow();

        //On remet le zoom par défaut
        this.changeZoom();
      },

      //Fonction permettant de modifier le zoom de la carte grâce à la barre en-dessous de la carte
      changeZoom() {
        //Appel de la fonction backToCenter pour revenir au centre de la carte
        this.backToCenter();

        //Calcul du rayon par rapport à la position actuelle
        let radius = (this.radius * 100) / 4;

        //Changement de la valeur du niveau de zoom de la carte en fonction de la valeur du rayon
        if(parseInt(radius) < 500) {
          this.zoom = 16;
        }
        else if(parseInt(radius) > 500 && parseInt(radius) < 1000) {
          this.zoom = 15;
        }
        else if(parseInt(radius) > 1000 && parseInt(radius) < 1500) {
          this.zoom = 14;
        }
        else if(parseInt(radius) > 1500 && parseInt(radius) < 2000) {
          this.zoom = 13;
        }
        else {
          this.zoom = 12;
        }
      },

      //Fonction permettant d'enregistrer et de récupérer les favoris dans le localStorage
      goToLocalStorage() {
        //On crée une constante qui va stocké les informations de la fenêtre ouverte dans le localStorage
        const storage = this.infoWindow;

        //On crée une variable qui va récupérer les favoris présent dans le localStorage
        let recupStorage = localStorage.getItem('favoris_vgsearch');

        //Si le localStorage ne contient aucun favoris
        if(recupStorage === null) {
          //On attribut un tableau vide à la variable recupStorage
          recupStorage = [];

          //On met à jour la variable recupStorage avec le contenu de la constante storage
          recupStorage.push(storage);

          //On transforme la variable recupStorage en format JSON
          let storage_json = JSON.stringify(recupStorage);

          //On enregistre dans le localStorage le contenu de cette variable sous le nom "favoris_vgsearch"
          localStorage.setItem("favoris_vgsearch", storage_json);
        }
        //Si le LocalStorage contient des favoris
        else {
          //On récupére le contenu de la variable recupStorage et on le transforme en objet
          recupStorage = JSON.parse(recupStorage);

          //On définit deux variables same, que l'on initialise à false, et index, que l'on initilise à 0, qui vont permettre de savoir si le magasin que l'on a sélectionné est déjà dans le localStorage et de récupérer son index
          let same = false;
          let index = 0;

          //On parcoure le contenu du localStorage avec une boucle for sur la variable recupStorage
          for(let i = 0; i < recupStorage.length; i++) {
            //On vérifie si l'un des index de recupStorage est identique à storage.id, ce qui correspond à la constante qui à récupérer les informations de l'infoWindow
            if(recupStorage[i].place_id == storage.place_id) {
              //On passe la valeur de same à true
              same = true;
              //Si la valeur de same est vraie, alors on attribut l'id de ce favori à la variable index
              if(same == true) {
                index = i;
              }
            }
          }

          //Si la valeur de same reste false
          if(same === false) {
            //On met à jour le localStorage en ajoutant ce nouveau favori à recupStorage
            recupStorage.push(storage);

            //On modifie l'icône pour Favoris1
            this.myIcon = {icon: Favoris1};
          }
          else {
            //Sinon, on modifie la valeur de la variable recupStorage en lui supprimant ce favori
            recupStorage.splice(index, 1);

            //On modifie l'icône pour Favoris2
            this.myIcon = {icon: Favoris2};
          }

          //On transforme la variable recupStorage en format JSON
          recupStorage = JSON.stringify(recupStorage);

          //On suavegarde la nouvelle valeur dans le localStorage
          window.localStorage.setItem("favoris_vgsearch", recupStorage);
        }
      },

      //Fonction permettant de définir l'itinéraire vers le magasin sélectioné et de l'afficher sur la carte en fonction du mode de transport choisi
      calcRoute(position) {
        //On supprime les directions GPS
        this.clearDirections();

        //Appel de la librairie GoogleMaps
        this.$refs.map.$mapPromise.then((map) => {
          //Requête auprès de la librairie Direction de l'API GoogleMaps (DirectionsService permmettant le calcul de l'itinéraire et DirectionsRenderer permettant d'afficher le résultat)
          let directionsService = new google.maps.DirectionsService();
          this.directionsRenderer = new google.maps.DirectionsRenderer();

          //On utilise la méthode setMap pour spécifié que les résultats doivent être affiché sur la carte qui est utilisée
          this.directionsRenderer.setMap(map);

          //Définition d'une variable qui contiendra la manière dont on souhaite se rendre au magasin
          let travelMode = document.getElementById("travelMode").value;

          //Définition de la variable qui contiendra la requète pour le calcul de l'itinéraire
          let request = {
            origin: this.myPosition[0].position,
            destination: position,
            travelMode: travelMode
          };

          //Définition de l'itinéraire en appelant la méthode route de la librairie Direction
          directionsService.route(request, (response, status) => {
            //Si le status est "OK"
            if(status === "OK") {
              //Calcul de l'itinéraire entre les deux points avec setDirection
              this.directionsRenderer.setDirections(response);
              //On supprime les marqueurs
              this.markers = [];
              //On passe isDrawing à true pour pouvoir dessiner sur la carte
              this.isDrawing = true;
              //Affichage de la distance totale de l'itinéraire
              this.distance = response.routes[0].legs[0].distance.text;
              //Affichage du temps nécessaire pour arriver à destination
              this.time = response.routes[0].legs[0].duration.text;
            }
          });
        });

        //Fermeture de la fenêtre d'information
        this.closeWindow();
      },

      //Fonction permettant de supprimer les itinéraires afficher sur la carte
      clearDirections() {
        //On supprime les informations de isDrawing
        this.isDrawing = false;

        //On supprime l'itinéraire affiché sur la carte
        this.$refs.map.$mapPromise.then(() => {
          this.directionsRenderer.setMap(null);
        });
      }
    }
  }
</script>

<style>
/* Style Généraux et pour le Téléphone */
/* Style pour l'input de recherche */
.home .search-box .search-bar {
  font-size: 1.1em;
  color: rgb(80, 80, 255);
  width: 90%;
  border: 2px solid rgb(80, 80, 255);
  border-radius: 10px;
  padding: 2px 10px;
  background-image: url("../assets/questionpoint.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 99.5% center;
  cursor: pointer;
}
.home .search-box .search-bar::placeholder {
  color: rgb(80, 80, 255);
}
.home .search-box .search-bar-autocomplete {
  font-size: 1.5em;
  min-width: 50px;
  position: absolute;
  text-align: left;
  z-index: 1;
  width: 90%;
  left: 5%;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.home .search-box .search-bar-autocomplete a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: rgb(21, 21, 185);
  cursor: pointer;
}
.home .search-box .search-bar-autocomplete a:hover {
  background-color: rgb(21, 21, 185);
  color: rgb(255, 255, 255);
}
/* Style pour la map */
.home #gmap {
  height: 300px;
  margin-top: 40px;
}
/* Style pour les fenêtres d'informations */
.home .info-window {
  width: 200px;
}
.home .info-window h2 {
  font-size: 1.2em;
}
.home .info-window h3 {
  font-size: 1em;
}
.home .info-window p {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
}
.home .info-window .green {
  font-weight: bold;
  color: green;
}
.home .info-window .red {
  font-weight: bold;
  color: red;
}
.home .info-window .itineraire .selection {
  margin-bottom: 10px;
}
.home .info-window .itineraire .selection select {
  border: 1px solid rgb(21, 21, 185);
  border-radius: 5px;
}
.home .info-window .itineraire .selection button {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 185);
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 10px;
}
.home .info-window .itineraire a img {
  width: 30px;
}
/* Style pour la barre de progression */
.home #rangebar {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  font-size: 1.5em;
  border: 1px solid white;
}
.home #rangebar .range {
  margin: 10px 0;
  width: 80%;
  vertical-align: top;
  -webkit-appearance: none;
  background: rgb(21, 21, 185);
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgb(42, 65, 189);
}
.home #rangebar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgb(0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
}
.home #rangebar input[type=range]::-moz-range-thumb {
  border: 1px solid rgb(0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
}
/* Style pour les icônes sur la carte (clean, center, back) */
.home #rangebar #center {
  position: absolute;
  right: 2%;
  bottom: 16%;
  z-index: 3;
  outline: none;
  background-image: url("../assets/center.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  border: none;
}
.home #rangebar #clean {
  position: absolute;
  right: 2%;
  bottom: 10%;
  outline: none;
  z-index: 3;
  background-image: url("../assets/clean.png");
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  border: none;
}
.home #rangebar #back {
  position: absolute;
  right: 2%;
  bottom: 22%;
  z-index: 3;
  outline: none;
  background-image: url("../assets/back.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  border: none;
}

/* Style du menu d'accès aux favoris */
.home .menu h3 {
  font-family: 'Games';
  color: rgb(21, 21, 185);
  font-size: 1.3em;
  margin: 10px 0;
}
.home .menu a {
  font-size: 1.3em;
}

/* Style pour la Tablette */
@media screen and (min-width: 767px) {
  .home #gmap {
    height: 400px;
  }
  .home #rangebar #center {
    bottom: 42%;
  }
  .home #rangebar #clean {
    bottom: 38%;
  }
  .home #rangebar #back {
    bottom: 46%;
  }
}

/* Style pour le Desktop */
@media screen and (min-width: 1024px) {
  .home #gmap {
    height: 500px;
  }
  .home #rangebar #center {
    bottom: 9%;
  }
  .home #rangebar #clean {
    bottom: 3%;
  }
  .home #rangebar #back {
    bottom: 15%;
  }
}
</style>