<template>
  <div id="app">
    <header class="title">
      <h1>VideoGames Search</h1>
      <p>L'application permettant de rechercher des magasins de jeux video, de mangas, de produits dérivées, ...</p>
    </header>

    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
@font-face {
  font-family: 'Bobcaygr';
  src: url("assets/bobcaygr.ttf");
}
@font-face {
  font-family: 'Elektra';
  src: url('assets/Elektra.ttf');
}
@font-face {
  font-family: 'Games';
  src: url('assets/Games.ttf');
}
#app {
  font-family: 'Bobcaygr';
  color: rgb(80, 80, 255);
  text-align: center;
}
#app .title {
  padding: 5px 10px;
}
#app .title h1 {
  font-family: "Elektra";
  font-size: 2em;
  color: rgb(21, 21, 185);
}
#app .title p {
  font-size: 1.5em;
}
</style>